= form_with(model: book, local: true) do |f|
  - if book.errors.any?
    #error_explanation
      %h2
        = pluralize(book.errors.count, "error")
        prohibited this book from being saved:
      %ul
        - book.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    = f.text_area :title

  .field
    = f.label :value
    = f.number_field :value

  .field
    = f.label :release
    = f.date_select :release

  .field
    = f.label :author_id
    = f.select :author_id, Author.all, prompt: true

  .field
    = f.label :publisher_id
    = f.select :publisher_id, Publisher.all, prompt: true

  .field
    = f.label :series_id
    = f.select :series_id, Series.all, include_blank: true
  .actions
    = f.submit
