%p#notice= notice
%p
  %strong Title:
  = @book.title
%p
  %strong Value:
  = @book.value
%p
  %strong Release:
  = @book.release
= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Back', books_path
