!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title わたじん書店
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,600", rel: "stylesheet"}
  %body
    = yield
    .footer
      .footer_right Copyright © Watajin Syoten co.Ltd. All rights reserved.
